{% extends "base.html" %}
{% block head_title %} Cart | {{ block.super }}{% endblock head_title %}

{#insert additional stylings#}
{% block stylings %}
    {% load static %}
  <script type="text/javascript">
		var user = '{{request.user}}'

		function getToken(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = cookies[i].trim();
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
		var csrftoken = getToken('csrftoken')

		function getCookie(name) {
		    // Split cookie string and get all individual name=value pairs in an array
		    var cookieArr = document.cookie.split(";");

		    // Loop through the array elements
		    for(var i = 0; i < cookieArr.length; i++) {
		        var cookiePair = cookieArr[i].split("=");

		        /* Removing whitespace at the beginning of the cookie name
		        and compare it with the given string */
		        if(name == cookiePair[0].trim()) {
		            // Decode the cookie value and return
		            return decodeURIComponent(cookiePair[1]);
		        }
		    }

		    // Return null if not found
		    return null;
		}
		var cart = JSON.parse(getCookie('cart'))

		if (cart == undefined){
			cart = {}
			console.log('Cart Created!', cart)
			document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
		}
		console.log('Cart:', cart)
    </script>
{% endblock stylings %}

{% block content %}
    {% include 'customer/nav.html' %}


    <div class="container">
        <div class="row">
            {% for product in products %}
                <div class="col-lg-4">
                    <img class="thumbnail" src="{{ product.image_url }}">
                    <div class="box-element product">
                        <h6><strong>{{ product.name }}</strong></h6>
                        <hr>

                        <button data-product="{{ product.id }}" data-action="add"
                                class="btn btn-outline-secondary add-btn update-cart">Add to Cart
                        </button>

                        <a class="btn btn-outline-info" href="#">View</a>
                        <h4 style="display: inline-block; float: right"><strong>DHS {{ product.price }}</strong></h4>

                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
<div class="container">
    <div class="row">
		<div class="col-lg-12">
			<div class="box-element">

				<a  class="btn btn-outline-dark" href="{% url 'shop_list' %}">&#x2190; Continue Shopping</a>

				<br>
				<br>
				<table class="table">
					<tr>
						<th><h5>Items: <strong>{{order.get_cart_items}}</strong></h5></th>
						<th><h5>Total:<strong> Dhs {{order.get_cart_total|floatformat:2}}</strong></h5></th>
						<th>
							<a  style="float:right; margin:5px;" class="btn btn-info" href="{% url 'checkout' %}">Checkout</a>
						</th>
					</tr>
				</table>

			</div>

			<br>
			<div class="box-element">
				<div class="cart-row">
					<div style="flex:2"></div>
					<div style="flex:2"><strong>Item</strong></div>
					<div style="flex:1"><strong>Price</strong></div>
                    <div style="flex:1"><strong>Quantity</strong></div>
					<div style="flex:1"><strong>Total</strong></div>
				</div>
				{% for item in items %}
				<div class="cart-row">
					<div style="flex:2"><img class="row-image" src="{{item.product.image_url}}"></div>
					<div style="flex:2"><p>{{item.product.name}}</p></div>
					<div style="flex:1"><p>Dhs {{item.product.price|floatformat:2}}</p></div>
                    <div style="flex:1"><p>{{item.quantity}}</p></div>
					<div style="flex:1"><p>Dhs {{item.get_total|floatformat:2}}</p></div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block script %}
    {% load static %}
{% endblock script %}