{% extends "base.html" %}
{% block head_title %} Product | {{ block.super }}{% endblock head_title %}

{#insert additional stylings#}
{% block stylings %}
    {% load static %}
   <script type="text/javascript">
        var user = '{{request.user}}'

        function getToken(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getToken('csrftoken')

        function getCookie(name) {
            // Split cookie string and get all individual name=value pairs in an array
            var cookieArr = document.cookie.split(";");

            // Loop through the array elements
            for (var i = 0; i < cookieArr.length; i++) {
                var cookiePair = cookieArr[i].split("=");

                /* Removing whitespace at the beginning of the cookie name
                and compare it with the given string */
                if (name == cookiePair[0].trim()) {
                    // Decode the cookie value and return
                    return decodeURIComponent(cookiePair[1]);
                }
            }

            // Return null if not found
            return null;
        }

        var cart = JSON.parse(getCookie('cart'))

        if (cart == undefined) {
            cart = {}
            console.log('Cart Created!', cart)
            document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
        }
        console.log('Cart:', cart)
    </script>
{% endblock stylings %}

{% block content %}
    {% include 'customer/nav.html' %}


    <div class="container">
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0"
                                               src={{ product.image_url }} alt="product"></div>
                    <div class="col-md-6">
                        <h1 class="display-5 fw-bolder">{{ product.name }}</h1>
                        <h5>Stock: {{ product.stock }}</h5>
                        <h5>AED {{ product.price }}</h5>
                        <hr>
                        <p class="lead">{{ product.description }}</p>
                        <div class="d-flex">
                            <button data-product="{{ product.id }}" data-action="add"
                                    class="btn btn-outline-secondary add-btn update-cart">
                                  <i class="material-icons">&#xe8cc;</i>
                                Add to Cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


{% endblock %}
{% block script %}
    {% load static %}
    <script type="text/javascript" src="{% static 'bookstore/js/cart.js' %}"></script>
{% endblock script %}