/*------------------------------
  05. Bradcaump Area
--------------------------------*/

.ht__bradcaump__wrap {
    align-items: center;
    display: flex;
    height: 320px;
}

.bradcaump-title {
    color: #343434;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    text-transform: capitalize;
}

.breadcrumb-item {
    color: #343434;
    font-size: 18px;
    text-transform: capitalize;
}

.breadcrumb-item.active {
    color: #343434;
    font-size: 18px;
    text-transform: capitalize;
}

.brd-separetor {
    padding: 0 5px;
}

.bradcaump-inner {
    margin-top: 23px;
}

body {
    background: #f5f5f5;
}

.action i {
    font-size: 30px !important;
}